@import "@fontsource-variable/ubuntu-sans-mono";

.markdown-container {
    margin-top: 3rem;
    max-width: 738px;
    padding-inline: 1.5rem;
    padding-block-end: 4.5rem;
    margin-inline: auto;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media(width > 1024px) {
        margin-top: 5rem;
    }

    .title,
    .footer-container {

        h1,
        h2 {
            font-family: 'Gloria Hallelujah';
            text-decoration: underline;
            font-weight: bold;
            text-transform: capitalize;
        }

    }

    p  {
    	line-height: 2;
    }

    img {
        width: 100% !important;
        height: auto !important;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        border-radius: 1rem;
    }

    h1,
    h2,
    h3,
    h4 {
        font-family: 'Space Grotesk Variable';
        text-decoration: underline;
        font-weight: bold;
    }


    a:not(.btn) {
        color: black;

        @media(prefers-color-scheme: dark) {
            color: white;
        }
    }


    a[data-footnote-ref],
    a[data-footnote-backref] {
        color: crimson;

        &:hover {
            opacity: 70%;
        }
    }

    sup a.footnote-highlight {
        background-color: #fef96350;
        transition: background 0.3s;
        padding-inline: 0.25rem;
    }
}

ul:not(.tags),
ol:not(.tags) {
    padding-left: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

p,
li {
    font-size: 1.25rem;
}

blockquote {
    border-left: .375rem solid black;
    padding-inline-start: 0.75rem;
    color: #212430;
    background-color: #EEEEEE;

    @media (prefers-color-scheme: dark) {
        background-color: #212430;
        color: #EEEEEE;
        border-left-color: white;
    }
}

code,
code span {
    font-family: "Ubuntu Sans Mono Variable", monospace;

}

pre {
    border-radius: 0.5rem;
    padding: 1rem;
    line-height: 1.9rem;
    scrollbar-width: thin;
}

p code,
ul code,
ol code {
    background-color: #FFEBEE;
    padding-inline: 0.5rem;
    padding-block: 0.1rem;
    border-radius: .25rem;

    @media screen and (prefers-color-scheme: dark) {
        background-color: #212121;
    }
}

section.footnotes ol {
    gap: 1.25rem;
}

section.footnotes li.footnote-highlight {
    background-color: #fef96320;
}

section.footnotes li p {
    font-size: 1rem;
}

/*! Styles for specific posts */

/*5-books  */
.booktitle-container {
    display: flex;
    gap: 2rem;
    background-color: #FFCDD2;
    padding: 1rem;
    border-radius: 0.25rem;
    margin-top: 2rem;


    h1 {
        font-family: 'Space Grotesk Variable';
        text-decoration: none;
        font-size: 3rem;
    }

    h1.title {
        font-size: 5rem;
    }

    a {
        color: black;
    }

    img {
        width: initial;
        height: 270px;
        box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.04), 0px 20px 25px -5px rgba(0, 0, 0, 0.1);
    }

    @media (width < 617px) {
        flex-direction: column;
        width: fit-content;

        img {
            width: 200px;
        }

        h1 {
            font-size: 1.75rem;
        }

        h1.title {
            font-size: 2.25rem;
        }
    }
}
